In [4]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

# convert lowercase column use str.lower()

In [2]:
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

# convert lowercase column use apply()

In [3]:
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

# Use apply() & lambda function

In [4]:
df['Courses'].apply(lambda x: x.lower())
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

# Convert pandas column to lowercase use map()

In [5]:
df['Courses'] = df['Courses'].map(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [7]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

In [13]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

In [14]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()

0                         [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.php]
2                                              NaN
dtype: object

#str.upper()

In [5]:
import pandas as pd

data = pd.Series(['apple', 'banana', 'cherry', 'date', np.nan])

uppercased_data = data.str.upper()

print("Original Series:")
print(data)

print("\nSeries after str.upper():")
print(uppercased_data)

Original Series:
0     apple
1    banana
2    cherry
3      date
4       NaN
dtype: object

Series after str.upper():
0     APPLE
1    BANANA
2    CHERRY
3      DATE
4       NaN
dtype: object

#str.lower()

In [6]:
import pandas as pd

data = pd.Series(['APPLE', 'Banana', 'Cherry', 'Date', np.nan])

lowercased_data = data.str.lower()

print("Original Series:")
print(data)

print("\nSeries after str.lower():")
print(lowercased_data)

Original Series:
0     APPLE
1    Banana
2    Cherry
3      Date
4       NaN
dtype: object

Series after str.lower():
0     apple
1    banana
2    cherry
3      date
4       NaN
dtype: object

#str.contains()

In [7]:
import pandas as pd

data = pd.Series(['apple', 'banana', 'cherry', 'date', np.nan])

contains_data = data.str.contains('an')

print("Original Series:")
print(data)

print("\nSeries after str.contains('an'):")
print(contains_data)

Original Series:
0     apple
1    banana
2    cherry
3      date
4       NaN
dtype: object

Series after str.contains('an'):
0    False
1     True
2    False
3    False
4      NaN
dtype: object

#str.replace

In [8]:
import pandas as pd

data = pd.Series(['apple', 'banana', 'cherry', 'date', np.nan])

replaced_data = data.str.replace('an', '***')

print("Original Series:")
print(data)

print("\nSeries after str.replace('an', '***'):")
print(replaced_data)

Original Series:
0     apple
1    banana
2    cherry
3      date
4       NaN
dtype: object

Series after str.replace('an', '***'):
0       apple
1    b******a
2      cherry
3        date
4         NaN
dtype: object

str.startswith()

In [9]:
import pandas as pd

data = pd.Series(['apple', 'banana', 'cherry', 'date', np.nan])

startswith_a = data.str.startswith('a')

print("Original Series:")
print(data)

print("\nSeries after str.startswith('a'):")
print(startswith_a)

Original Series:
0     apple
1    banana
2    cherry
3      date
4       NaN
dtype: object

Series after str.startswith('a'):
0     True
1    False
2    False
3    False
4      NaN
dtype: object

#str.endwith()

In [10]:
import pandas as pd

data = pd.Series(['apple', 'banana', 'cherry', 'date', np.nan])

endswith_e = data.str.endswith('e')

print("Original Series:")
print(data)

print("\nSeries after str.endswith('e'):")
print(endswith_e)

Original Series:
0     apple
1    banana
2    cherry
3      date
4       NaN
dtype: object

Series after str.endswith('e'):
0     True
1    False
2    False
3     True
4      NaN
dtype: object

#str.cat()

In [11]:
import pandas as pd

series1 = pd.Series(['apple', 'banana', 'cherry', 'date', np.nan])
series2 = pd.Series([' red', ' yellow', ' blue', ' green', ' purple'])

concatenated_data = series1.str.cat(series2)

print("Original Series 1:")
print(series1)

print("\nOriginal Series 2:")
print(series2)

print("\nSeries after str.cat():")
print(concatenated_data)

Original Series 1:
0     apple
1    banana
2    cherry
3      date
4       NaN
dtype: object

Original Series 2:
0        red
1     yellow
2       blue
3      green
4     purple
dtype: object

Series after str.cat():
0        apple red
1    banana yellow
2      cherry blue
3       date green
4              NaN
dtype: object

#str.get()

In [12]:
import pandas as pd

data = pd.Series(['apple', 'banana', 'cherry', 'date', np.nan])

char_at_position_2 = data.str.get(2)

print("Original Series:")
print(data)

print("\nCharacter at position 2:")
print(char_at_position_2)

Original Series:
0     apple
1    banana
2    cherry
3      date
4       NaN
dtype: object

Character at position 2:
0      p
1      n
2      e
3      t
4    NaN
dtype: object

#str.slice()

In [13]:
import pandas as pd

data = pd.Series(['apple', 'banana', 'cherry', 'date', np.nan])

sliced_data = data.str.slice(start=1, stop=4)

print("Original Series:")
print(data)

print("\nSubstring from position 1 to 3:")
print(sliced_data)

Original Series:
0     apple
1    banana
2    cherry
3      date
4       NaN
dtype: object

Substring from position 1 to 3:
0    ppl
1    ana
2    her
3    ate
4    NaN
dtype: object

#str.find()

In [14]:
import pandas as pd

data = pd.Series(['apple', 'banana', 'cherry', 'date', np.nan])

position_of_an = data.str.find('an')

print("Original Series:")
print(data)

print("\nPosition of 'an' in each element:")
print(position_of_an)

Original Series:
0     apple
1    banana
2    cherry
3      date
4       NaN
dtype: object

Position of 'an' in each element:
0   -1.0
1    1.0
2   -1.0
3   -1.0
4    NaN
dtype: float64